
.comment-card {
  padding: 0;
  border-radius: 0.6em;
  background-color: $default-background-color-l15;
  text-align: center;

  .comment-card-game {
    min-height: 1.8em;
    font-size: 1.5em;
    font-weight: 625;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    a {
      text-decoration: none;
      color: $background-lighter;
      &:hover {
        color: $default-orange;
      }
    }
  }
  .comment-card-body {
    p {
      font-size: 0.8em;
    }
    font-size: 1.1em;
    height: 7em;
    padding: 0.3em;
    background-color: $background-lighter;
    color: $background-title;
  }
  .comment-card-footer {
    padding: 0.2em 0.1em;
    a {
      text-decoration: none;
      color: $background-lighter;
      &:hover {
        color: $default-orange;
      }
    }
  }
}