{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}
    Modifier pays
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier pays</h1>
        {% include 'common/_form.html.twig' %}
    </div>

{% endblock %}