{% extends 'base.html.twig' %}

{% block title %}Les pays{% endblock %}

{% block body %}

    <div class="container">
        {% for country in countries %}
            <a href="{{ path('app_country_edit', {'slug': country.slug}) }}">
                <img src="{{ country.urlFlag }}">
            </a>
        {% endfor %}
    </div>

{% endblock %}
