
$default-white: #FAFAFA;
$default-orange: #ff5400;
$default-red: #FF003A;

$background-lighter: #f7faff;
$background-title: #5F5F5F;

$default-background-color: #213946;
$default-background-color-l15: lighten($default-background-color, 15%);
$default-background-color-l30: lighten($default-background-color, 30%);
